html {
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
}
body {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #000000;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
h2 {
    font-size: 1.4rem;
    color: white;
}
h3 {
    font-size: 1.2rem;
    color: white;
}
p {
    padding: 10px; 
}
button {
    color: white;
    padding: 5px 5px;
    margin: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.topnav {
    padding: 10px;
    text-align: center;
    overflow: hidden;
    background-color: #000000;
}
.wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.box1 {
    padding: 10px;  
    grid-column: 1 / 4;
}
.box2 {
    padding: 10px;
    grid-column: 1 / 4;
    grid-row-start: 2;
}
.box3 {
    padding: 10px;
    grid-row-start: 3;
}
.box4 {
    padding: 10px;
    grid-column: 2 / 4;
    grid-row-start: 3;
}
.table {
  table-layout: fixed;
  width: 100%;
}
.tableColumn1 {
    width: 20%
}
.tableColumn2 {
    width: 70%
}
.tableColumn3 {
    width: 10%
}


.card {
    color: #bebebe;
    background-color: rgb(36, 36, 36);
}
.onButton{
    background-color: #a7a7a7;
}
.offButton{
    background-color: #5c5c5c;
}
.connectButton{
    background-color: #24af37;
}
.disconnectButton{
    background-color: #d13a30;
}
.resetButton{
    background-color: #000000;
    color: white;
    padding: none;
    margin: none;
    border: none;
    cursor: pointer;
    border-radius: none;
    border-radius: none;
}
.gray-label {
    color: #bebebe;
    font-size: 1rem;
}
.reading {
    font-size: 1.8rem;
}