html {
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
h2 {
    font-size: 1.4rem;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #000000;
}
body {
    margin: 0;
    background-color: #000000;
}
.content {
    padding: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box2 {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
}





.card-grid {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card {
    color: #bebebe;
    background-color: rgb(72, 72, 72);
}
button {
    color: white;
    padding: 10px 16px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.onButton{
    background-color: #a7a7a7;
}

.offButton{
    background-color: #5c5c5c;
}

.connectButton{
    background-color: #24af37;
}

.disconnectButton{
    background-color: #d13a30;
}

.resetButton{
    background-color: #000000;
    color: white;
    padding: none;
    margin: none;
    border: none;
    cursor: pointer;
    border-radius: none;
    border-radius: none;
}

.gray-label {
    color: #bebebe;
    font-size: 1rem;
}

.reading {
    font-size: 1.8rem;
}